# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [9]:
cars1=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [16]:
cars1=cars1.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],axis=1)

### Step 5. What is the number of observations in each dataset?

In [22]:
print("No of observatin in cars1:",len(cars1))
print("No of observation is cars2:",len(cars2))

No of observatin in cars1: 198
No of observation is cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [23]:
cars=cars1.join(cars2, how='left', lsuffix='_left', rsuffix='_right')

In [34]:
cars.shape

(198, 18)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [35]:
owners=np.random.randint(15000, high=73000, size=198, dtype=int)
owners

array([26965, 32852, 27868, 65484, 19996, 30513, 70114, 17984, 18871,
       27450, 66710, 40801, 70769, 44022, 26657, 35771, 67560, 37388,
       70217, 59676, 64722, 61440, 33689, 51366, 21859, 66916, 63504,
       62748, 16739, 24550, 36861, 40565, 71082, 30875, 24457, 33451,
       44238, 43166, 22895, 57655, 23021, 72574, 60657, 52347, 26140,
       21871, 18103, 68095, 40079, 53140, 23119, 62101, 33854, 31231,
       29123, 29170, 16851, 35238, 40624, 51549, 20128, 45791, 25284,
       18698, 29126, 50119, 18981, 71450, 62344, 72191, 39109, 26604,
       65059, 16543, 38469, 59456, 61499, 17542, 22857, 16939, 37841,
       25090, 47635, 15639, 23141, 61989, 53838, 38220, 62309, 67530,
       60855, 62008, 64774, 40450, 38725, 49778, 59582, 49814, 62249,
       19284, 43310, 49050, 19071, 18559, 58368, 18524, 50543, 27682,
       23104, 18980, 67346, 19098, 35861, 23952, 53336, 67820, 71038,
       45778, 64927, 20513, 63335, 35561, 28151, 57938, 50389, 66146,
       45451, 47238, 56392, 62297, 43473, 55743, 59776, 54751, 23544,
       25182, 51654, 44745, 27187, 64867, 32536, 29739, 46142, 64551,
       57517, 61737, 58582, 53043, 27963, 27433, 33155, 27287, 56934,
       48546, 45839, 56210, 55340, 23672, 48978, 50437, 69184, 47343,
       57638, 26864, 69658, 69233, 24010, 61970, 56605, 27313, 53835,
       30123, 17252, 19059, 22960, 64414, 69960, 54087, 15222, 23348,
       15880, 72186, 34402, 23131, 27488, 40395, 58071, 69618, 57640,
       52598, 48707, 27435, 22500, 32741, 48252, 69690, 16052, 30997])

### Step 8. Add the column owners to cars

In [53]:
cars['owners']=owners

In [41]:
cars

,mpg_left,cylinders_left,displacement_left,horsepower_left,weight_left,acceleration_left,model_left,origin_left,car_left,mpg_right,cylinders_right,displacement_right,horsepower_right,weight_right,acceleration_right,model_right,origin_right,car_right,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,33.0,4,91,53,1795,17.4,76,3,honda civic,26965
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,20.0,6,225,100,3651,17.7,76,1,dodge aspen se,32852
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,18.0,6,250,78,3574,21.0,76,1,ford granada ghia,27868
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj,65484
4,17.0,8,302,140,3449,10.5,70,1,ford torino,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l,19996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,32741
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,48252
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,69690
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,44.0,4,97,52,2130,24.6,82,2,vw pickup,16052
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,32.0,4,135,84,2295,11.6,82,1,dodge rampage,30997